/* 
colores:
celeste claro: #b4c5d3 (encabezado)
negro transparente: rgba(5, 5, 7, 0.253) (fondo)
azul claro: lightskyblue
azul intro: #538b99 (tips)
agua marina: #B2EDE3
blanco: #E3E3E3

fuentes
font-family: 'Montserrat Alternates', sans-serif;

1rem=16px
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
}

body{
    background: rgb(219,238,254);
    background: linear-gradient(180deg, rgba(219,238,254,1) 4%, rgba(97,183,249,1) 50%, rgba(31,71,137,1) 92%);
    font-size: 16px;
}

/* grid para estructura del sitio */
.grid-container{
    display: grid;
    grid-template-areas: "encabezado"
                         "intro"
                         "tips"
                         "video"
                         "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 1vh;
    align-items: center;
}

/* flexbox para menú */
#encabezado{
    grid-area: encabezado;
}

#encabezado{
    display: flex;
    top: 0.1px;
    z-index: 2;
    left: 33%;
    opacity: 85%;
    justify-content: space-between;
    color: black;
}

#encabezado .logo a{
    width: auto;
    height: auto;
}

#encabezado .navbar-nav{
    gap: 10px;
}

#encabezado .navbar-nav .navbarra{
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 1.2em;
}

#encabezado .navbar-nav .navbarra:hover {
    color: rgb(0, 0, 102);
  }

#encabezado .navbar-nav .dropdown-item {
    font-weight: 900;
  }

/* INTRO HOME */

#intro{
    grid-area: intro;
}

#intro{
    background-image: url(../img/paisaje.jpg);
    min-height: 15.625em;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#intro .intro__info{
    text-align: center;
    background-color: rgba(5, 5, 7, 0.253);
    color: rgb(255, 255, 255);
    border-radius: 7px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#intro .intro__btn{
    padding: 0.9375em;
    margin: 0.625em;
    background-color: black;
    border-radius: 7px;
    font-family: 'Montserrat Alternates', sans-serif;
}

#intro .intro__btn a{
    text-decoration: none;
    color: white;
}

#intro .intro__btn:hover{
    background-color: lightskyblue
}

/* TIPS HOME*/

#tips{
    grid-area: tips;
    /*background-color: #538b99;*/
}

#tips h2{
    text-align: center;
    padding: 1vh;
    font-family: 'Montserrat Alternates', sans-serif;
}

#tips .tipsTodos{
    display: grid;
    grid-template-areas:"foto1 foto2 foto3"
                         "tips1 tips2 tips3";
    grid-template-columns: 15.625rem 15.625rem 15.625rem;
    grid-template-rows: auto auto;
    gap: 1vh;
    align-items: start;
    justify-content: space-evenly;
    justify-items: stretch;
    padding: 1vh;
}

.foto1{
    grid-area: foto1;
    height: 13.75rem;
    width: auto;
}

.tips1{
    grid-area: tips1;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.foto2{
    grid-area: foto2;
    height: 13.75rem;
    width: auto;
}

.tips2{
    grid-area: tips2;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.foto3{
    grid-area: foto3;
    height: 13.75rem;
    width: auto;
}

.tips3{
    grid-area: tips3;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* VIDEO HOME */
#video{
    grid-area: video;
    /*background-color: #538b99;*/
}

#video h2{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 1vh;
}

#video .video__yt{
    display: flex;
    justify-content: center;
    margin: 1vh;
}

/* QUE OFRECEMOS? ofrecemos.html */

/* GRID CONTAINER OFRECEMOS*/
.grid-container2{
    display: grid;
    grid-template-areas: "encabezado"
                         "ofrecemos"
                         "ofrecemos2"
                         "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 1vh;
    align-items: center;
}

#ofrecemos{
    grid-area: ofrecemos;
}

#ofrecemos{
    background-image: url(../img/roadfondo.jpg);
    min-height: 15.625em;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ofrecemos .ofrecemos__titulo{
    text-align: center;
    background-color: rgba(5, 5, 7, 0.253);
    color: rgb(255, 255, 255);
    border-radius: 7px;
}

#ofrecemos2{
    grid-area: ofrecemos2;
    /*background-color: #B2EDE3;*/
}

#ofrecemos2 .ofrecemos2__todos{
    display: grid;
    grid-template-areas:"fotofr1 fotofr2 fotofr3 fotofr4"
                         "textoofr1 textoofr2 textoofr3 textoofr4";
    grid-template-columns: 15.625rem 15.625rem 15.625rem 15.625rem;
    grid-template-rows: auto auto;
    gap: 1vh;
    align-items: start;
    justify-content: space-evenly;
    justify-items: stretch;
    padding: 1vh;
}

.fotofr1{
    grid-area: fotofr1;
    height: 13.75rem;
    width: auto;
}

.textoofr1{
    grid-area: textoofr1;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.fotofr2{
    grid-area: fotofr2;
    height: 13.75rem;
    width: auto;
}

.textoofr2{
    grid-area: textoofr2;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.fotofr3{
    grid-area: fotofr3;
    height: 13.75rem;
    width: auto;
}

.textoofr3{
    grid-area: textoofr3;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.fotofr4{
    grid-area: fotofr4;
    height: 13.75rem;
    width: auto;
}

.textoofr4{
    grid-area: textoofr4;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* PAQUETES paquetes.html */

/* GRID CONTAINER PAQUETES*/
.grid-container3{
    display: grid;
    grid-template-areas: "encabezado"
                         "paquetes"
                         "paquetes2"
                         "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 1vh;
    align-items: center;
}

#paquetes{
    grid-area: paquetes;
}

#paquetes{
    background-image: url(../img/montañanevada.jpg);
    min-height: 15.625em;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#paquetes .paquetes__titulo{
    text-align: center;
    background-color: rgba(5, 5, 7, 0.253);
    color: rgb(255, 255, 255);
    border-radius: 7px;
}

#iniciopaq{
    /*background-color: #B2EDE3;*/
    margin-bottom: 10px;
    grid-area: paquetes2;
}

#iniciopaq .iniciopaq2{
    display: grid;
    grid-template-areas:"paquete1 paquete2 paquete3"
                         "paqimg1 paqimg2 paqimg3"
                         "paqtext1 paqtext2 paqtext3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1vh;
    align-items: start;
    justify-content: space-evenly;
    justify-items: stretch;
    padding: 1vh;
}

.paquete1{
    grid-area: paquete1;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.paqimg1{
    grid-area: paqimg1;
    height: 13.75rem;
    width: auto;
}

.paqtext1{
    grid-area: paqtext1;
    text-align: start;
    font-family: 'Montserrat Alternates', sans-serif;
}

.paquete2{
    grid-area: paquete2;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.paqimg2{
    grid-area: paqimg2;
    height: 13.75rem;
    width: auto;
}

.paqtext2{
    grid-area: paqtext2;
    text-align: start;
    font-family: 'Montserrat Alternates', sans-serif;
}

.paquete3{
    grid-area: paquete3;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.paqimg3{
    grid-area: paqimg3;
    height: 13.75rem;
    width: auto;
}

.paqtext3{
    grid-area: paqtext3;
    text-align: start;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* ¿QUIENES SOMOS? quienes.html */

#quienes{
    background-image: url(../img/hintersee.jpg);
    min-height: 15.625em;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quienes .quienestit{
    text-align: center;
    background-color: rgba(5, 5, 7, 0.253);
    color: rgb(255, 255, 255);
    border-radius: 7px;
}

#quienesinfo{
    /*background-color: #B2EDE3;*/
    margin-bottom: 10px;
}

/* CONTACTO contacto.html */

#contacto{
    background-image: url(../img/playa.jpg);
    min-height: 15.625em;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contacto .contactotit{
    text-align: center;
    background-color: rgba(5, 5, 7, 0.253);
    color: rgb(255, 255, 255);
    border-radius: 7px;
}

#contactoform{
    /*background-color: #B2EDE3;*/
    margin-bottom: 10px;
}

/* FOOTER */

#footer{
    grid-area: footer;
    background-color: black;
}

#footer{
    color: white;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

#footer .iconos a{
    width: 1vh;
    padding: 1vh;
    margin: 0 1vh;
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: inline-flex;
}

#footer .texto{
    text-align:justify;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* ----------- MEDIA QUERIS ----------- */

/* X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
    .grid-container, 
    .grid-container2,
    .grid-container3{
        grid-template-rows: auto;}
    #encabezado{
        font-size: 12px;
    }
    #encabezado .menu ul{
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    #tips .tipsTodos{
        grid-template-areas:"foto1"
                             "tips1"
                             "foto2"
                             "tips2"
                             "foto3"
                             "tips3";
        grid-template-columns: 15.625rem;
    }
    #ofrecemos2 .ofrecemos2__todos{
        grid-template-areas:"fotofr1"
                             "textoofr1"
                             "fotofr2"
                             "textoofr2"
                             "fotofr3"
                             "textoofr3"
                             "fotofr4"
                             "textoofr4";
        grid-template-columns: 15.625rem;
    }
    #iniciopaq .iniciopaq2 {
            grid-template-areas:"paquete1"
                                 "paqimg1"
                                 "paqtext1"
                                 "paquete2"
                                 "paqimg2"
                                 "paqtext2"
                                 "paquete3"
                                 "paqimg3"
                                 "paqtext3";
            grid-template-columns: 15.625rem;
        }
    #video{
        width: auto;
        height: auto;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

}
#formulariobot{
    text-decoration: #ffff;
    padding-bottom: 10px;
}
#formulariobot .botones-del-formulario{
    display: grid;
    grid-template-areas:"btn btn-primary btn btn-secondary";
    grid-template-columns: 10rem 10rem;
}

