#quienesinfo{
    p{
        color: #999;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    p{
        a{
            text-decoration: none;
            color: black;
            &:hover{
                color: blueviolet;
            }
            &:visited{
                color: pink;
            }
        }
    }
}

/* maps */
$red-social:(
    tw: skyblue,
    fb: blue,
    ig: violet,
    in: darkblue,
    wpp: green,
    tk: blueviolet,
    yt: red,
    st: yellow
);
@each $nombre, $valor in $red-social {
    .icon-#{$nombre}{
        color: $valor;
    }
}

$colores:(
    principal: aqua,
    base: black,
    fondo: tomato,
);

#quienesinfo{
    background-color: map-get($colores, principal);
}